# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Misc
*.map
*.m
*.png

# Eclipse CDT project files
.cproject
# ^ .cproject ok to commit unless has absolute paths (helps import on another computer without reconfiguring)
.project
# ^ .project ok to commit unless has absolute paths (helps import on another computer without reconfiguring)
# Eclipse settings (user-specific)
.settings/

# Environment-specific or temporary folders
.vagrant/
.DS_Store

# Include makefiles
!Makefile

# Libraries
/lib
# ^ may be necessary for modules etc (ignore /lib/*.a if necessary instead)

# TouchGFX
/generated

/build

/simulator/msvs/.vs

# Temporary files
*~
*.swp
*.swo

# Environment-specific or temporary folders
.vagrant/
.DS_Store
